<div class="container">
  <table class="table table-striped">
    <thead>
      <tr> 
        <th scope="col" class="border-top-0 bg-success text-white">What</th>
        <th scope="col" class="border-top-0 bg-danger text-white">Where</th>
        <th scope="col" class="border-top-0 bg-warning text-white">When</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of schedule">
        <td class="what">{{event.what}}</td>
        <td class="where">{{event.where}}</td>
        <td class="when">{{event.when}}</td>
      </tr>
    </tbody>
  </table>
</div>