    <div class="wrap">
      <div class="left">
      <a class="administration-link" (click)="onClickLogin($event)">Administration</a>
      </div>
      <div class="center">
      <a class="contactus-link">Contact Us!</a>
      </div>
      <div class="right">
      <a href="https://www.google.com/maps/place/Smithsonian+National+Zoological+Park/@38.9296156,-77.0497844,17z/data=!3m1!4b1!4m5!3m4!1s0x89b7b7d61dc7f0df:0x9e68ac204b0c1be4!8m2!3d38.9296156!4d-77.0497844">Find Us!</a>
      </div>
</div>