 <div class="container">
 <ul class="nav nav-pills mb-3 border" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="home-tab" data-toggle="pill" href="#home" role="tab" aria-controls="home" aria-selected="true">Personal</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="animal-tab" data-toggle="pill" href="#animal" role="tab" aria-controls="animal" aria-selected="false">Animals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="inventory-tab" data-toggle="pill" href="#inventory" role="tab" aria-controls="inventory" aria-selected="false">Inventory</a>
      </li>
      <li *ngIf="zookeeper.title=='manager'" class="nav-item">
        <a class="nav-link" id="stats-tab" data-toggle="pill" href="#stats" role="tab" aria-controls="stats" aria-selected="false">Statistics</a>
      </li>
    <button class="btn btn-success ml-auto" (click)="signOut($event)">Log Out</button>
  </ul>
  
  <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <h3>Welcome {{zookeeper.firstname}}</h3>
          <p><span><strong>Role: </strong></span>{{zookeeper.title}}</p>
          <p><span><strong>Name: </strong></span>{{zookeeper.firstname}} {{zookeeper.lastname}}</p>
          <p><span><strong>Username: </strong></span>{{zookeeper.username}}</p>
      </div>
      <div class="tab-pane fade " id="animal" role="tabpanel" aria-labelledby="animal-tab">
          <h3>Animal Information</h3>
          <table class="data-table table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Animal</th>
                  <!-- <th scope="col">Name</th>
                  <th scope="col">Sex</th> -->
                  <th scope="col">Notes</th>
                  <th scope="col">Food</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let anm of animals">
                  <th scope="row">{{anm.id}}</th>
                  <td>{{anm.type}}</td>
                  <!-- <td>{{anm.name}}</td>
                  <td>{{anm.sex}}</td> -->
                  <td contenteditable="true" [textContent]="anm.notes" (input)="anm.notes = $event.target.textContent"></td>
                  <td>{{anm.food}}</td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="tab-pane fade" id="inventory" role="tabpanel" aria-labelledby="inventory-tab">
          <h3>Inventory</h3>
          <table class="data-table table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Item</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Next Delivery</th>
                  <th scope="col">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of inventory">
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.item}}</td>
                  <td contenteditable="true" [textContent]="item.quantity" (input)="item.quantity = $event.target.textContent"></td>
                  <td contenteditable="true" [textContent]="item.next" (input)="item.next = $event.target.textContent"></td>
                  <td contenteditable="true" [textContent]="item.notes" (input)="item.notes = $event.target.textContent"></td>
                </tr>
              </tbody>
            </table>
      </div>
      <div class="tab-pane fade" id="stats" role="tabpanel" arial-labelledby="stats-tab">
        <app-pie-cmp> </app-pie-cmp>
      </div>
            
    </div>
  </div>