<div class="container">
  <div class="row d-flex justify-content-center">
    <section class="login-form  col-md-4">
      <form method="post" action="#" role="login">
        <input type="text" name="username" placeholder="Username" required class="form-control input-lg" />
        <input type="password" class="form-control input-lg my-2" id="password" placeholder="Password" required="" />
        <div class="pwstrength_viewport_progress"></div>
        <button type="submit" name="go" class="btn btn-info btn-lg btn-block" (click)="onClickSubmit($event)">Sign in</button>
      </form>
    </section>  
  </div>
</div>     